p {
    font-size: 18px;
}

.navbar {
    background-color: #CCCCCC;
}

table {
    border: 1px #000 dotted;
    padding: 5px;
    margin: 0 auto;
    width: 90%;
}

table th {
    background-color: #CCCC99;
    text-align: center;
    padding: 5px;
}

table td {
    border: 1px #ddd solid;
    padding: 10px;
    text-align: center;
    background-color: #FFFFFF;
}

.row {
    display: flex;
    justify-content: space-around;
}

#tablecontainer {
    width: 500px;
    padding-bottom: 50px;
}

footer {
    display: flex;
    justify-content: center;
}

footer li {
    list-style-type: none;
}